 @model Travel_Agency___Data.ViewModels.LoginViewModal
 @{
     ViewData["Title"] = "Login";
 }

<div class="container" style="margin-top: 7rem;">
     <div class="row justify-content-center">
         <div class="col-md-6">
             <div class="card shadow-lg">
                 <div class="card-header text-center text-dark">
                     <h2>Login</h2>
                 </div>
                 <div class="card-body">
                     <form asp-action="Login" method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                         <div asp-validation-summary="All" class="text-danger"></div>

                         <div class="mb-3">
                             <label asp-for="Username" class="form-label"></label>
                             <input asp-for="Username" class="form-control" placeholder="Enter your username" />
                         </div>

                        <div class="mb-3 position-relative">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" type="password" id="password-input" placeholder="Enter your password"/>
                            <span class="position-absolute" style="right: 3%; top: 20%; cursor: pointer;">
                                <i class="fas fa-eye" id="password-toggle-icon" onclick="togglePasswordVisibility()"></i>
                            </span>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                         <div class="mb-3 form-check">
                             <input asp-for="RememberMe" class="form-check-input" style="
                                    border: 1.5px solid black; />
                             <label asp-for="RememberMe" class="form-check-label">@Html.DisplayNameFor(a=>a.RememberMe)</label>
                         </div>
                         <div class="row">
                            <a asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="d-flex justify-content-center">Don't have an account? Register</a>
                             <button type="submit" value="Login" class="btn btn-primary w-100">Login</button>
                         </div>
                         
                     </form>
                 </div>
             </div>
         </div>
     </div>
 </div>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password-input");
        var icon = document.getElementById("password-toggle-icon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
