@model Travel_Agency___Data.ViewModels.PasswordOperationsViewModel
@using Travel_Agency___Data.ViewModels;
@{
    ViewData["Title"] = "Reset Password";
    var passwordViewModel = new PasswordViewModel
            {
                Password = Model?.Password,
                ConfirmPassword = Model?.ConfirmPassword
            };
}
<div class="container" style="margin-top: 7rem;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center text-dark">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-body">
                    <form asp-action="ResetPassword" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="ResetToken" type="hidden" />

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <partial name="_PasswordFields" model=@passwordViewModel />

                        <div class="row mt-3">
                            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>

            <a asp-action="Login" class="d-flex justify-content-center mt-3">Remember your password? Login</a>
        </div>
    </div>
</div>

